

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">EMS is an employee management system for product based companies which lets you manage your employees by grouping them together 
    in teams. </p>
    <p><a href="/Home/CreateCompany" class="btn btn-primary btn-lg">Sign Up</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2> EMS </h2>
        <p>
            This Employee Management system allows you to efficiently manage your employees.
        </p>
    </div>
    <div class="col-md-4">
        <h2> Projects </h2>
        <p>You can add your employees to teams to colloborate and develope products .</p>
    </div>
    <div class="col-md-4">
        <h2>Attendance </h2>
        <p> Helps you keep track of your employees </p>
    </div>
</div>